{
  "openapi": "3.1.0",
  "info": {
    "title": "Habitica API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://habitica.com/api/v3/"
    }
  ],
  "paths": {
    "/user": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "get": {
        "summary": "Get the authenticated user's profile",
        "description": "The user profile contains data related to the authenticated user including (but not limited to): Achievements; Authentications (including types and timestamps); Challenges memberships (Challenge IDs); Flags (including armoire, tutorial, tour etc...); Guilds memberships (Guild IDs); History (including timestamps and values, only for Experience and summed To Do values); Inbox; Invitations (to parties/guilds); Items (character's full inventory); New Messages (flags for party/guilds that have new messages; also reported in Notifications); Notifications; Party (includes current quest information); Preferences (user selected prefs); Profile (name, photo url, blurb); Purchased (includes subscription data and some gem-purchased items); PushDevices (identifiers for mobile devices authorized); Stats (standard RPG stats, class, buffs, xp, etc..); Tags; TasksOrder (list of all IDs for Dailys, Habits, Rewards and To Do's).",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          }
        }
      }
    },
    "/tasks/user": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Client"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/type"
        }
      ],
      "get": {
        "operationId": "ListTasks",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TasksResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/taskId"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "get": {
        "summary": "Get a task",
        "operationId": "GetTaskByID",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TaskResponse"
          }
        }
      }
    },
    "/tasks/{taskId}/score/{direction}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/taskId"
        },
        {
          "$ref": "#/components/parameters/direction"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "post": {
        "summary": "Score a task",
        "operationId": "ScoreTask",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScoreTask"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/user/class/cast/{spellId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/spellId"
        },
        {
          "$ref": "#/components/parameters/targetId"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "post": {
        "description": "Cast a skill (spell) on a target",
        "operationId": "Cast",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cast"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/user/buy-health-potion": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "post": {
        "operationId": "BuyHealthPotion",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuyHealthPotion"
          }
        }
      }
    },
    "/cron": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "post": {
        "summary": "Run cron",
        "description": "This causes cron to run. It assumes that the user has already been shown the Record Yesterday's Activity (\"Check off any Dailies you did yesterday\") screen and so it will immediately apply damage for incomplete due Dailies.",
        "operationId": "Cron",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CronResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Achievements": {
        "type": "object",
        "properties": {
          "ultimateGearSets": {
            "$ref": "#/components/schemas/UltimateGearSets"
          },
          "perfect": {
            "type": "integer",
            "example": 93
          },
          "quests": {
            "$ref": "#/components/schemas/AchievementsQuests"
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "partyUp": {
            "type": "boolean",
            "example": true
          },
          "partyOn": {
            "type": "boolean",
            "example": true
          },
          "habitBirthdays": {
            "type": "integer",
            "example": 9
          },
          "streak": {
            "type": "integer",
            "example": 197
          },
          "joinedGuild": {
            "type": "boolean",
            "example": true
          },
          "joinedChallenge": {
            "type": "boolean",
            "example": true
          },
          "habiticaDays": {
            "type": "integer",
            "example": 9
          },
          "invitedFriend": {
            "type": "boolean",
            "example": true
          },
          "backToBasics": {
            "type": "boolean",
            "example": true
          },
          "dustDevil": {
            "type": "boolean",
            "example": true
          },
          "monsterMagus": {
            "type": "boolean",
            "example": true
          },
          "completedTask": {
            "type": "boolean",
            "example": true
          },
          "createdTask": {
            "type": "boolean",
            "example": true
          },
          "fedPet": {
            "type": "boolean",
            "example": true
          },
          "hatchedPet": {
            "type": "boolean",
            "example": true
          },
          "purchasedEquipment": {
            "type": "boolean",
            "example": true
          },
          "seeingRed": {
            "type": "boolean",
            "example": true
          },
          "shadyCustomer": {
            "type": "boolean",
            "example": true
          },
          "royallyLoyal": {
            "type": "boolean",
            "example": true
          },
          "allYourBase": {
            "type": "boolean",
            "example": true
          },
          "pearlyPro": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "ultimateGearSets",
          "perfect",
          "quests",
          "challenges",
          "partyUp",
          "partyOn",
          "habitBirthdays",
          "streak",
          "joinedGuild",
          "joinedChallenge",
          "habiticaDays",
          "invitedFriend",
          "backToBasics",
          "dustDevil",
          "monsterMagus",
          "completedTask",
          "createdTask",
          "fedPet",
          "hatchedPet",
          "purchasedEquipment",
          "seeingRed",
          "shadyCustomer",
          "royallyLoyal",
          "allYourBase",
          "pearlyPro"
        ]
      },
      "AchievementsQuests": {
        "type": "object",
        "properties": {
          "dustbunnies": {
            "type": "integer",
            "example": 1
          },
          "basilist": {
            "type": "integer",
            "example": 1
          },
          "moon1": {
            "type": "integer",
            "example": 1
          },
          "moon2": {
            "type": "integer",
            "example": 1
          },
          "dysheartener": {
            "type": "integer",
            "example": 1
          },
          "moon3": {
            "type": "integer",
            "example": 1
          },
          "vice1": {
            "type": "integer",
            "example": 1
          },
          "vice2": {
            "type": "integer",
            "example": 1
          },
          "vice3": {
            "type": "integer",
            "example": 1
          },
          "atom1": {
            "type": "integer",
            "example": 1
          },
          "atom2": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "dustbunnies",
          "basilist",
          "moon1",
          "moon2",
          "dysheartener",
          "moon3",
          "vice1",
          "vice2",
          "vice3",
          "atom1",
          "atom2"
        ]
      },
      "Approval": {
        "type": "object",
        "properties": {
          "required": {
            "type": "boolean",
            "example": false
          },
          "approved": {
            "type": "boolean",
            "example": false
          },
          "requested": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "required",
          "approved",
          "requested"
        ]
      },
      "Auth": {
        "type": "object",
        "properties": {
          "local": {
            "$ref": "#/components/schemas/AuthLocal"
          },
          "timestamps": {
            "$ref": "#/components/schemas/AuthTimestamps"
          },
          "google": {
            "$ref": "#/components/schemas/AuthGoogle"
          },
          "apple": {
            "type": "object"
          },
          "facebook": {
            "type": "object"
          }
        },
        "required": [
          "local",
          "timestamps",
          "google",
          "apple",
          "facebook"
        ]
      },
      "AuthGoogle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "117454340579493668837"
          },
          "emails": {
            "$ref": "#/components/schemas/AuthGoogleEmails"
          }
        },
        "required": [
          "id",
          "emails"
        ]
      },
      "AuthGoogleEmails": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AuthGoogleEmailsItem"
        }
      },
      "AuthGoogleEmailsItem": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "email",
            "example": "marcodroesler@gmail.com"
          },
          "verified": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "value",
          "verified"
        ]
      },
      "AuthLocal": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "markrosemaker"
          },
          "lowerCaseUsername": {
            "type": "string",
            "example": "markrosemaker"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "marcodroesler@gmail.com"
          },
          "has_password": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "username",
          "lowerCaseUsername",
          "email",
          "has_password"
        ]
      },
      "AuthTimestamps": {
        "type": "object",
        "properties": {
          "loggedin": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T11:40:25.172Z"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-26T18:12:42.188Z"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T22:07:05.119Z"
          }
        },
        "required": [
          "loggedin",
          "created",
          "updated"
        ]
      },
      "Buffs": {
        "type": "object",
        "properties": {
          "str": {
            "type": "integer",
            "example": 10
          },
          "int": {
            "type": "integer",
            "example": 10
          },
          "per": {
            "type": "integer",
            "example": 10
          },
          "con": {
            "type": "integer",
            "example": 10
          },
          "stealth": {
            "type": "integer",
            "example": 0
          },
          "streaks": {
            "type": "boolean",
            "example": false
          },
          "snowball": {
            "type": "boolean",
            "example": false
          },
          "spookySparkles": {
            "type": "boolean",
            "example": false
          },
          "shinySeed": {
            "type": "boolean",
            "example": false
          },
          "seafoam": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "str",
          "int",
          "per",
          "con",
          "stealth",
          "streaks",
          "snowball",
          "spookySparkles",
          "shinySeed",
          "seafoam"
        ]
      },
      "BuyHealthPotionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Stats"
          },
          "message": {
            "type": "string",
            "example": "Bought Health Potion"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 16060
          },
          "appVersion": {
            "type": "string",
            "example": "5.48.7"
          }
        },
        "required": [
          "success",
          "data",
          "message",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "CastResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/CastResponseData"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 16038
          },
          "appVersion": {
            "type": "string",
            "example": "5.48.7"
          }
        },
        "required": [
          "success",
          "data",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "CastResponseData": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "task": {
            "$ref": "#/components/schemas/Task"
          }
        },
        "required": [
          "user",
          "task"
        ]
      },
      "Challenge": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "format": "uuid",
            "example": "5f12bfba-da30-4733-ad01-9c42f9817975"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f23c12f2-5830-4f15-9c36-e17fd729a812"
          }
        },
        "required": [
          "taskId",
          "id"
        ]
      },
      "CronResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 16098
          },
          "appVersion": {
            "type": "string",
            "example": "5.49.0"
          }
        },
        "required": [
          "success",
          "data",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "DateAsStringOrInt": {
        "oneOf": [
          {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-06T02:26:43.371Z"
          },
          {
            "type": "integer",
            "example": 1485487350827
          }
        ]
      },
      "Drop": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "example": "Zombie"
          },
          "canDrop": {
            "type": "boolean",
            "example": true
          },
          "value": {
            "type": "integer",
            "example": 1
          },
          "key": {
            "type": "string",
            "example": "RottenMeat"
          },
          "type": {
            "type": "string",
            "example": "Food"
          },
          "dialog": {
            "type": "string",
            "example": "You've found Rotten Meat! Feed this to a pet and it may grow into a sturdy steed."
          },
          "premium": {
            "type": "boolean",
            "example": false
          },
          "limited": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "target",
          "canDrop",
          "value",
          "key",
          "type",
          "dialog"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "NotAuthorized"
          },
          "message": {
            "type": "string",
            "example": "Not enough mana."
          }
        },
        "required": [
          "success",
          "error",
          "message"
        ]
      },
      "Flags": {
        "type": "object",
        "properties": {
          "tour": {
            "$ref": "#/components/schemas/FlagsTour"
          },
          "tutorial": {
            "$ref": "#/components/schemas/FlagsTutorial"
          },
          "customizationsNotification": {
            "type": "boolean",
            "example": true
          },
          "showTour": {
            "type": "boolean",
            "example": true
          },
          "dropsEnabled": {
            "type": "boolean",
            "example": true
          },
          "itemsEnabled": {
            "type": "boolean",
            "example": true
          },
          "lastNewStuffRead": {
            "type": "string",
            "format": "uuid",
            "example": "e456638e-2fa9-44f8-b986-5ec053ef64f2"
          },
          "rewrite": {
            "type": "boolean",
            "example": true
          },
          "classSelected": {
            "type": "boolean",
            "example": true
          },
          "rebirthEnabled": {
            "type": "boolean",
            "example": true
          },
          "recaptureEmailsPhase": {
            "type": "integer",
            "example": 0
          },
          "weeklyRecapEmailsPhase": {
            "type": "integer",
            "example": 0
          },
          "communityGuidelinesAccepted": {
            "type": "boolean",
            "example": true
          },
          "cronCount": {
            "type": "integer",
            "example": 1508
          },
          "welcomed": {
            "type": "boolean",
            "example": true
          },
          "armoireEnabled": {
            "type": "boolean",
            "example": true
          },
          "armoireOpened": {
            "type": "boolean",
            "example": true
          },
          "armoireEmpty": {
            "type": "boolean",
            "example": false
          },
          "cardReceived": {
            "type": "boolean",
            "example": false
          },
          "warnedLowHealth": {
            "type": "boolean",
            "example": true
          },
          "verifiedUsername": {
            "type": "boolean",
            "example": true
          },
          "levelDrops": {
            "$ref": "#/components/schemas/FlagsLevelDrops"
          },
          "lastWeeklyRecap": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-26T18:12:42.189Z"
          },
          "initializedUserHistory": {
            "type": "boolean",
            "example": true
          },
          "thirdPartyTools": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T21:13:24.390Z"
          },
          "newStuff": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "tour",
          "tutorial",
          "customizationsNotification",
          "showTour",
          "dropsEnabled",
          "itemsEnabled",
          "lastNewStuffRead",
          "rewrite",
          "classSelected",
          "rebirthEnabled",
          "recaptureEmailsPhase",
          "weeklyRecapEmailsPhase",
          "communityGuidelinesAccepted",
          "cronCount",
          "welcomed",
          "armoireEnabled",
          "armoireOpened",
          "armoireEmpty",
          "cardReceived",
          "warnedLowHealth",
          "verifiedUsername",
          "levelDrops",
          "lastWeeklyRecap",
          "initializedUserHistory",
          "thirdPartyTools",
          "newStuff"
        ]
      },
      "FlagsLevelDrops": {
        "type": "object",
        "properties": {
          "atom1": {
            "type": "boolean",
            "example": true
          },
          "vice1": {
            "type": "boolean",
            "example": true
          },
          "goldenknight1": {
            "type": "boolean",
            "example": true
          },
          "moonstone1": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "atom1",
          "vice1",
          "goldenknight1",
          "moonstone1"
        ]
      },
      "FlagsTour": {
        "type": "object",
        "properties": {
          "intro": {
            "type": "integer",
            "example": -2
          },
          "classes": {
            "type": "integer",
            "example": 0
          },
          "stats": {
            "type": "integer",
            "example": -2
          },
          "tavern": {
            "type": "integer",
            "example": -2
          },
          "party": {
            "type": "integer",
            "example": -2
          },
          "guilds": {
            "type": "integer",
            "example": -2
          },
          "challenges": {
            "type": "integer",
            "example": -2
          },
          "market": {
            "type": "integer",
            "example": -2
          },
          "pets": {
            "type": "integer",
            "example": -2
          },
          "mounts": {
            "type": "integer",
            "example": -2
          },
          "hall": {
            "type": "integer",
            "example": -2
          },
          "equipment": {
            "type": "integer",
            "example": -2
          },
          "groupPlans": {
            "type": "integer",
            "example": -1
          }
        },
        "required": [
          "intro",
          "classes",
          "stats",
          "tavern",
          "party",
          "guilds",
          "challenges",
          "market",
          "pets",
          "mounts",
          "hall",
          "equipment",
          "groupPlans"
        ]
      },
      "FlagsTutorial": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/FlagsTutorialCommon"
          },
          "ios": {
            "$ref": "#/components/schemas/FlagsTutorialIos"
          }
        },
        "required": [
          "common",
          "ios"
        ]
      },
      "FlagsTutorialCommon": {
        "type": "object",
        "properties": {
          "habits": {
            "type": "boolean",
            "example": true
          },
          "dailies": {
            "type": "boolean",
            "example": true
          },
          "todos": {
            "type": "boolean",
            "example": true
          },
          "rewards": {
            "type": "boolean",
            "example": true
          },
          "party": {
            "type": "boolean",
            "example": true
          },
          "pets": {
            "type": "boolean",
            "example": true
          },
          "gems": {
            "type": "boolean",
            "example": true
          },
          "skills": {
            "type": "boolean",
            "example": true
          },
          "classes": {
            "type": "boolean",
            "example": true
          },
          "tavern": {
            "type": "boolean",
            "example": true
          },
          "equipment": {
            "type": "boolean",
            "example": true
          },
          "items": {
            "type": "boolean",
            "example": true
          },
          "mounts": {
            "type": "boolean",
            "example": true
          },
          "inbox": {
            "type": "boolean",
            "example": true
          },
          "stats": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "habits",
          "dailies",
          "todos",
          "rewards",
          "party",
          "pets",
          "gems",
          "skills",
          "classes",
          "tavern",
          "equipment",
          "items",
          "mounts",
          "inbox",
          "stats"
        ]
      },
      "FlagsTutorialIos": {
        "type": "object",
        "properties": {
          "addTask": {
            "type": "boolean",
            "example": false
          },
          "editTask": {
            "type": "boolean",
            "example": false
          },
          "deleteTask": {
            "type": "boolean",
            "example": false
          },
          "filterTask": {
            "type": "boolean",
            "example": false
          },
          "groupPets": {
            "type": "boolean",
            "example": false
          },
          "inviteParty": {
            "type": "boolean",
            "example": false
          },
          "reorderTask": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "addTask",
          "editTask",
          "deleteTask",
          "filterTask",
          "groupPets",
          "inviteParty",
          "reorderTask"
        ]
      },
      "Group": {
        "type": "object",
        "properties": {
          "approval": {
            "$ref": "#/components/schemas/Approval"
          },
          "assignedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "sharedCompletion": {
            "type": "string",
            "example": "singleCompletion"
          },
          "completedBy": {
            "type": "object"
          }
        },
        "required": [
          "approval",
          "assignedUsers",
          "sharedCompletion"
        ]
      },
      "Inbox": {
        "type": "object",
        "properties": {
          "optOut": {
            "type": "boolean",
            "example": false
          },
          "messages": {
            "$ref": "#/components/schemas/Messages"
          },
          "blocks": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "newMessages": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "optOut",
          "messages",
          "blocks",
          "newMessages"
        ]
      },
      "ListUserDataHistoryExp": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListUserDataHistoryExpItem"
        }
      },
      "ListUserDataHistoryExpItem": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/DateAsStringOrInt"
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 4831.31241363118
          }
        },
        "required": [
          "date",
          "value"
        ]
      },
      "Message": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "example": "068fe676-8854-43ff-a0cd-673d7b766f01"
          },
          "sent": {
            "type": "boolean",
            "example": false
          },
          "flagCount": {
            "type": "integer",
            "example": 0
          },
          "user": {
            "type": "string",
            "example": "Marco Rösler"
          },
          "backer": {
            "type": "object"
          },
          "contributor": {
            "type": "object"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          },
          "flags": {
            "type": "object"
          },
          "likes": {
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-30T16:57:58.245Z"
          },
          "text": {
            "type": "string",
            "example": "Hi"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "068fe676-8854-43ff-a0cd-673d7b766f01"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          }
        },
        "required": [
          "_id",
          "sent",
          "flagCount",
          "user",
          "backer",
          "contributor",
          "uuid",
          "flags",
          "likes",
          "timestamp",
          "text",
          "id",
          "ownerId"
        ]
      },
      "Message2": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "example": "83be6b88-4fd2-494c-8f9b-0bb22d2ff6cf"
          },
          "sent": {
            "type": "boolean",
            "example": true
          },
          "flagCount": {
            "type": "integer",
            "example": 0
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "83be6b88-4fd2-494c-8f9b-0bb22d2ff6cf"
          },
          "text": {
            "type": "string",
            "example": "It's a monster. I guess it's a play on the words basilisk and todo-list."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2017-02-20T22:54:36.242Z"
          },
          "likes": {
            "type": "object"
          },
          "flags": {
            "type": "object"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "0d95ece5-ec87-423c-84c5-6720f918f67e"
          },
          "contributor": {
            "type": "object"
          },
          "backer": {
            "type": "object"
          },
          "user": {
            "type": "string",
            "example": "Frans Duijts"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          }
        },
        "required": [
          "_id",
          "sent",
          "flagCount",
          "id",
          "text",
          "timestamp",
          "likes",
          "flags",
          "uuid",
          "contributor",
          "backer",
          "user",
          "ownerId"
        ]
      },
      "Messages": {
        "type": "object",
        "properties": {
          "86363b9c-f1c4-4007-87f9-607d399af305": {
            "$ref": "#/components/schemas/Message"
          },
          "83be6b88-4fd2-494c-8f9b-0bb22d2ff6cf": {
            "$ref": "#/components/schemas/Message2"
          },
          "da886215-c4f4-4649-8be8-da7535a5e3dc": {
            "$ref": "#/components/schemas/Message"
          },
          "a891481d-84e6-4bb5-9728-3948867ad46e": {
            "$ref": "#/components/schemas/Message2"
          },
          "068fe676-8854-43ff-a0cd-673d7b766f01": {
            "$ref": "#/components/schemas/Message"
          }
        },
        "required": [
          "86363b9c-f1c4-4007-87f9-607d399af305",
          "83be6b88-4fd2-494c-8f9b-0bb22d2ff6cf",
          "da886215-c4f4-4649-8be8-da7535a5e3dc",
          "a891481d-84e6-4bb5-9728-3948867ad46e",
          "068fe676-8854-43ff-a0cd-673d7b766f01"
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "ITEM_RECEIVED"
          },
          "data": {
            "$ref": "#/components/schemas/NotificationData"
          },
          "seen": {
            "type": "boolean",
            "example": false
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "c6333f37-308d-4a56-bf5f-a700ecb268c1"
          }
        },
        "example": null
      },
      "NotificationData": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "example": "notif_cake_naming_day"
          },
          "title": {
            "type": "string",
            "example": "Happy Naming Day!"
          },
          "text": {
            "type": "string",
            "example": "To celebrate the day we became Habitica, we’ve awarded you some cake!"
          },
          "destination": {
            "type": "string",
            "example": "/inventory/items"
          }
        },
        "required": [
          "icon",
          "title",
          "text",
          "destination"
        ]
      },
      "Notifications": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Notification"
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "quest": {
            "$ref": "#/components/schemas/PartyQuest"
          },
          "_id": {
            "type": "string",
            "format": "uuid",
            "example": "df72f208-0697-4e94-8973-7665a62f680f"
          },
          "order": {
            "type": "string",
            "example": "level"
          },
          "orderAscending": {
            "type": "string",
            "example": "ascending"
          }
        },
        "required": [
          "quest",
          "_id",
          "order",
          "orderAscending"
        ]
      },
      "PartyQuest": {
        "type": "object",
        "properties": {
          "progress": {
            "$ref": "#/components/schemas/PartyQuestProgress"
          },
          "RSVPNeeded": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "progress",
          "RSVPNeeded"
        ]
      },
      "PartyQuestProgress": {
        "type": "object",
        "properties": {
          "up": {
            "type": "number",
            "format": "double",
            "example": 36.68395499693019
          },
          "down": {
            "type": "integer",
            "example": 0
          },
          "collectedItems": {
            "type": "integer",
            "example": 3
          },
          "collect": {
            "type": "object"
          }
        },
        "required": [
          "up",
          "down",
          "collectedItems",
          "collect"
        ]
      },
      "PinnedItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "armoire"
          },
          "path": {
            "type": "string",
            "example": "armoire"
          }
        },
        "required": [
          "type",
          "path"
        ]
      },
      "PinnedItems": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PinnedItem"
        }
      },
      "Purchased": {
        "type": "object",
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/PurchasedPlan"
          },
          "txnCount": {
            "type": "integer",
            "example": 0
          },
          "background": {
            "$ref": "#/components/schemas/PurchasedBackground"
          },
          "shirt": {
            "type": "object"
          },
          "hair": {
            "type": "object"
          },
          "skin": {
            "type": "object"
          },
          "ads": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "plan",
          "txnCount",
          "background",
          "shirt",
          "hair",
          "skin",
          "ads"
        ]
      },
      "PurchasedBackground": {
        "type": "object",
        "properties": {
          "yellow": {
            "type": "boolean",
            "example": true
          },
          "red": {
            "type": "boolean",
            "example": true
          },
          "purple": {
            "type": "boolean",
            "example": true
          },
          "green": {
            "type": "boolean",
            "example": true
          },
          "blue": {
            "type": "boolean",
            "example": true
          },
          "violet": {
            "type": "boolean",
            "example": true
          },
          "on_a_strange_planet": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "yellow",
          "red",
          "purple",
          "green",
          "blue",
          "violet",
          "on_a_strange_planet"
        ]
      },
      "PurchasedPlan": {
        "type": "object",
        "properties": {
          "consecutive": {
            "$ref": "#/components/schemas/PurchasedPlanConsecutive"
          },
          "mysteryItems": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "gemsBought": {
            "type": "integer",
            "example": 0
          },
          "extraMonths": {
            "type": "integer",
            "example": 0
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time",
            "example": "2017-09-25T07:33:49.386Z"
          },
          "perkMonthCount": {
            "type": "integer",
            "example": -1
          },
          "cumulativeCount": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "consecutive",
          "mysteryItems",
          "gemsBought",
          "extraMonths",
          "quantity",
          "dateUpdated",
          "perkMonthCount",
          "cumulativeCount"
        ]
      },
      "PurchasedPlanConsecutive": {
        "type": "object",
        "properties": {
          "trinkets": {
            "type": "integer",
            "example": 0
          },
          "gemCapExtra": {
            "type": "integer",
            "example": 0
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "count": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "trinkets",
          "gemCapExtra",
          "offset",
          "count"
        ]
      },
      "PushDevice": {
        "type": "object",
        "properties": {
          "regId": {
            "type": "string",
            "example": "ez5UbHEvoYc:APA91bFX1axNEhmBMdkLL948Om_zxO2uEcPJ9UcuIC9yAxmXvnjII3q9aE0Vupmnw8Bz8VhsCs93ewV6TuWVBjcBMXgRY1pjKRdgPy_zds_ovi1eiXuFm7sqxXq1ilG4jGtC5TjKD214"
          },
          "type": {
            "type": "string",
            "example": "android"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T12:10:06.709Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-30T08:20:39.251Z"
          }
        },
        "required": [
          "regId",
          "type",
          "updatedAt",
          "createdAt"
        ]
      },
      "PushDevices": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PushDevice"
        }
      },
      "Quest": {
        "type": "object",
        "properties": {
          "progressDelta": {
            "type": "number",
            "format": "double",
            "example": 1.2362778290756147
          },
          "collection": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "progressDelta",
          "collection"
        ]
      },
      "Reminder": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T16:21:00.074Z"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T16:20:00.074Z"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b8b549c4-8d56-4e49-9b38-b4dcde9763b9"
          }
        },
        "example": null
      },
      "Reminders": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Reminder"
        }
      },
      "RepeatWeekly": {
        "type": "object",
        "properties": {
          "m": {
            "type": "boolean",
            "example": true
          },
          "t": {
            "type": "boolean",
            "example": true
          },
          "w": {
            "type": "boolean",
            "example": true
          },
          "th": {
            "type": "boolean",
            "example": true
          },
          "f": {
            "type": "boolean",
            "example": true
          },
          "s": {
            "type": "boolean",
            "example": true
          },
          "su": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "m",
          "t",
          "w",
          "th",
          "f",
          "s",
          "su"
        ]
      },
      "ScoreTaskResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/ScoreTaskResponseData"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 15919
          },
          "appVersion": {
            "type": "string",
            "example": "5.48.6"
          }
        },
        "required": [
          "success",
          "data",
          "notifications"
        ]
      },
      "ScoreTaskResponseData": {
        "type": "object",
        "properties": {
          "delta": {
            "type": "number",
            "format": "double",
            "example": 1.0259567046270648
          },
          "_tmp": {
            "$ref": "#/components/schemas/Tmp"
          },
          "hp": {
            "type": "number",
            "format": "double",
            "example": 44.49999999999995
          },
          "mp": {
            "type": "number",
            "format": "double",
            "example": 66.2390716654227
          },
          "exp": {
            "type": "number",
            "format": "double",
            "example": 143.93810026267545
          },
          "gp": {
            "type": "number",
            "format": "double",
            "example": 135.12889840462591
          },
          "lvl": {
            "type": "integer",
            "example": 20
          },
          "class": {
            "type": "string",
            "example": "rogue"
          },
          "points": {
            "type": "integer",
            "example": 0
          },
          "str": {
            "type": "integer",
            "example": 6
          },
          "con": {
            "type": "integer",
            "example": 3
          },
          "int": {
            "type": "integer",
            "example": 3
          },
          "per": {
            "type": "integer",
            "example": 8
          },
          "buffs": {
            "$ref": "#/components/schemas/Buffs"
          },
          "training": {
            "$ref": "#/components/schemas/Training"
          }
        },
        "required": [
          "delta",
          "_tmp",
          "hp",
          "mp",
          "exp",
          "gp",
          "lvl",
          "class",
          "points",
          "str",
          "con",
          "int",
          "per",
          "buffs",
          "training"
        ]
      },
      "Stats": {
        "type": "object",
        "properties": {
          "buffs": {
            "$ref": "#/components/schemas/Buffs"
          },
          "training": {
            "$ref": "#/components/schemas/Training"
          },
          "per": {
            "type": "integer",
            "example": 11
          },
          "int": {
            "type": "integer",
            "example": 11
          },
          "con": {
            "type": "integer",
            "example": 22
          },
          "str": {
            "type": "integer",
            "example": 32
          },
          "points": {
            "type": "integer",
            "example": 0
          },
          "class": {
            "type": "string",
            "example": "warrior"
          },
          "lvl": {
            "type": "integer",
            "example": 76
          },
          "gp": {
            "type": "number",
            "format": "double",
            "example": 8192.49676456646
          },
          "exp": {
            "type": "integer",
            "example": 1215
          },
          "mp": {
            "type": "number",
            "format": "double",
            "example": 113.38473780814007
          },
          "hp": {
            "type": "number",
            "format": "double",
            "example": 45.59999999999991
          },
          "toNextLevel": {
            "type": "integer",
            "example": 2340
          },
          "maxHealth": {
            "type": "integer",
            "example": 50
          },
          "maxMP": {
            "type": "integer",
            "example": 128
          }
        },
        "required": [
          "buffs",
          "training",
          "per",
          "int",
          "con",
          "str",
          "points",
          "class",
          "lvl",
          "gp",
          "exp",
          "mp",
          "hp",
          "toNextLevel",
          "maxHealth",
          "maxMP"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "The ID of the task.",
            "type": "string",
            "format": "uuid",
            "example": "a237ab25-c7f8-4ebb-9205-5d17154d08a0"
          },
          "userId": {
            "description": "The ID of the user who owns the tasks.",
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          },
          "text": {
            "type": "string",
            "example": "Eating Healthy"
          },
          "alias": {
            "type": "string",
            "example": "prac31"
          },
          "type": {
            "type": "string",
            "example": "habit"
          },
          "notes": {
            "type": "string",
            "example": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "47db4ec6-0985-48a5-9311-175d170c2798"
            }
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 29.599561531838347
          },
          "priority": {
            "type": "number",
            "format": "double",
            "example": 1.5
          },
          "attribute": {
            "type": "string",
            "example": "str"
          },
          "challenge": {
            "$ref": "#/components/schemas/Challenge"
          },
          "group": {
            "$ref": "#/components/schemas/Group"
          },
          "reminders": {
            "$ref": "#/components/schemas/Reminders"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2021-07-18T23:26:04.322Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2023-07-11T21:51:02.911Z"
          },
          "history": {
            "$ref": "#/components/schemas/TaskHistory"
          },
          "down": {
            "type": "boolean",
            "example": true
          },
          "up": {
            "type": "boolean",
            "example": true
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "a237ab25-c7f8-4ebb-9205-5d17154d08a0"
          },
          "counterUp": {
            "type": "integer",
            "example": 0
          },
          "counterDown": {
            "type": "integer",
            "example": 0
          },
          "frequency": {
            "type": "string",
            "example": "daily"
          },
          "byHabitica": {
            "type": "boolean",
            "example": false
          },
          "repeat": {
            "$ref": "#/components/schemas/RepeatWeekly"
          },
          "everyX": {
            "type": "integer",
            "example": 1
          },
          "streak": {
            "type": "integer",
            "example": 1194
          },
          "nextDue": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time",
              "example": "2026-05-14T22:00:00.000Z"
            }
          },
          "yesterDaily": {
            "type": "boolean",
            "example": true
          },
          "completed": {
            "type": "boolean",
            "example": false
          },
          "collapseChecklist": {
            "type": "boolean",
            "example": false
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2021-07-17T22:00:00.000Z"
          },
          "daysOfMonth": {
            "type": "array",
            "items": {
              "type": "integer",
              "example": 1
            }
          },
          "weeksOfMonth": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "isDue": {
            "type": "boolean",
            "example": true
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2021-09-26T00:13:00.000Z"
          },
          "delta": {
            "type": "number",
            "format": "double",
            "example": 1.0259567046270648
          },
          "_tmp": {
            "$ref": "#/components/schemas/Tmp"
          },
          "hp": {
            "type": "integer",
            "example": 50
          },
          "mp": {
            "type": "number",
            "format": "double",
            "example": 66.2390716654227
          },
          "exp": {
            "type": "number",
            "format": "double",
            "example": 143.93810026267545
          },
          "gp": {
            "type": "number",
            "format": "double",
            "example": 135.12889840462591
          },
          "lvl": {
            "type": "integer",
            "example": 20
          },
          "class": {
            "type": "string",
            "example": "rogue"
          },
          "points": {
            "type": "integer",
            "example": 0
          },
          "str": {
            "type": "integer",
            "example": 6
          },
          "con": {
            "type": "integer",
            "example": 3
          },
          "int": {
            "type": "integer",
            "example": 3
          },
          "per": {
            "type": "integer",
            "example": 8
          },
          "buffs": {
            "$ref": "#/components/schemas/Buffs"
          },
          "training": {
            "$ref": "#/components/schemas/Training"
          }
        },
        "required": [
          "_id",
          "challenge",
          "group",
          "up",
          "down",
          "counterUp",
          "counterDown",
          "frequency",
          "history",
          "type",
          "notes",
          "tags",
          "value",
          "priority",
          "attribute",
          "byHabitica",
          "text",
          "reminders",
          "createdAt",
          "updatedAt",
          "userId",
          "id"
        ]
      },
      "TaskActivity": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "example": 1626804748216
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 1.9747
          },
          "scoredUp": {
            "type": "integer",
            "example": 1
          },
          "scoredDown": {
            "type": "integer",
            "example": 0
          },
          "isDue": {
            "type": "boolean",
            "example": true
          },
          "completed": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "date",
          "value",
          "scoredUp",
          "scoredDown"
        ],
        "example": null
      },
      "TaskHistory": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TaskActivity"
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Task"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          }
        },
        "required": [
          "success",
          "data",
          "notifications"
        ]
      },
      "Tasks": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Task"
        }
      },
      "TasksOrder": {
        "type": "object",
        "properties": {
          "rewards": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "c67ba660-5aaa-4cb5-88e1-00b4beeae775"
            }
          },
          "todos": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "9b2cf3d7-dd77-4444-93c6-6af45448acff"
            }
          },
          "dailys": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "91cf329e-0d0a-4c15-92a0-2e6748a470c9"
            }
          },
          "habits": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "15fef52f-ce1b-4c54-b3f0-58b5047f4a47"
            }
          }
        },
        "required": [
          "rewards",
          "todos",
          "dailys",
          "habits"
        ]
      },
      "TasksResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Tasks"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 15599
          },
          "appVersion": {
            "type": "string",
            "example": "5.47.9"
          }
        },
        "required": [
          "success",
          "data",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "Tmp": {
        "type": "object",
        "properties": {
          "quest": {
            "$ref": "#/components/schemas/Quest"
          },
          "drop": {
            "$ref": "#/components/schemas/Drop"
          },
          "streakBonus": {
            "type": "number",
            "format": "double",
            "example": 0.129413516556518
          },
          "crit": {
            "type": "number",
            "format": "double",
            "example": 2.992163009404389
          }
        },
        "required": [
          "quest",
          "drop"
        ]
      },
      "Training": {
        "type": "object",
        "properties": {
          "int": {
            "type": "integer",
            "example": 0
          },
          "per": {
            "type": "integer",
            "example": 0
          },
          "str": {
            "type": "number",
            "format": "double",
            "example": 29.414499390190787
          },
          "con": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "int",
          "per",
          "str",
          "con"
        ]
      },
      "UltimateGearSets": {
        "type": "object",
        "properties": {
          "warrior": {
            "type": "boolean",
            "example": true
          },
          "rogue": {
            "type": "boolean",
            "example": false
          },
          "wizard": {
            "type": "boolean",
            "example": false
          },
          "healer": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "warrior",
          "rogue",
          "wizard",
          "healer"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/UserData"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "userV": {
            "type": "integer",
            "example": 15885
          },
          "appVersion": {
            "type": "string",
            "example": "5.48.6"
          },
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "achievements": {
            "$ref": "#/components/schemas/Achievements"
          },
          "backer": {
            "type": "object"
          },
          "contributor": {
            "type": "object"
          },
          "permissions": {
            "type": "object"
          },
          "purchased": {
            "$ref": "#/components/schemas/Purchased"
          },
          "flags": {
            "$ref": "#/components/schemas/Flags"
          },
          "history": {
            "$ref": "#/components/schemas/UserDataHistory"
          },
          "items": {
            "$ref": "#/components/schemas/UserDataItems"
          },
          "invitations": {
            "$ref": "#/components/schemas/UserDataInvitations"
          },
          "party": {
            "$ref": "#/components/schemas/Party"
          },
          "preferences": {
            "$ref": "#/components/schemas/UserDataPreferences"
          },
          "profile": {
            "$ref": "#/components/schemas/UserDataProfile"
          },
          "stats": {
            "$ref": "#/components/schemas/Stats"
          },
          "inbox": {
            "$ref": "#/components/schemas/Inbox"
          },
          "tasksOrder": {
            "$ref": "#/components/schemas/TasksOrder"
          },
          "_id": {
            "type": "string",
            "format": "uuid",
            "example": "8027d396-e2bb-4389-b002-782025424e75"
          },
          "_ABtest": {
            "type": "string",
            "example": ""
          },
          "loginIncentives": {
            "type": "integer",
            "example": 1560
          },
          "webhooks": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "pushDevices": {
            "$ref": "#/components/schemas/PushDevices"
          },
          "extra": {
            "type": "object"
          },
          "tags": {
            "$ref": "#/components/schemas/UserDataTags"
          },
          "guilds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "cf0a9cb8-606e-4bf0-bcad-f9b1715b8819"
            }
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "3cb189ef-3a5d-4177-8bc6-fad7f4c055bf"
            }
          },
          "newMessages": {
            "type": "object"
          },
          "lastCron": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T03:16:28.361Z"
          },
          "balance": {
            "type": "integer",
            "example": 26
          },
          "_v": {
            "type": "integer",
            "example": 16038
          },
          "apiToken": {
            "type": "string",
            "format": "uuid",
            "example": "b65ecff6-60dd-4947-a904-c6678b9c6e81"
          },
          "migration": {
            "type": "string",
            "example": "20267namingday"
          },
          "pinnedItems": {
            "$ref": "#/components/schemas/PinnedItems"
          },
          "unpinnedItems": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "invitesSent": {
            "type": "integer",
            "example": 4
          },
          "pinnedItemsOrder": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "_subSignature": {
            "type": "string",
            "example": "NOT_RUNNING"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "8027d396-e2bb-4389-b002-782025424e75"
          }
        },
        "required": [
          "success",
          "data",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "UserData": {
        "type": "object",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "achievements": {
            "$ref": "#/components/schemas/Achievements"
          },
          "backer": {
            "type": "object"
          },
          "contributor": {
            "type": "object"
          },
          "permissions": {
            "type": "object"
          },
          "purchased": {
            "$ref": "#/components/schemas/Purchased"
          },
          "flags": {
            "$ref": "#/components/schemas/Flags"
          },
          "history": {
            "$ref": "#/components/schemas/UserDataHistory"
          },
          "items": {
            "$ref": "#/components/schemas/UserDataItems"
          },
          "invitations": {
            "$ref": "#/components/schemas/UserDataInvitations"
          },
          "party": {
            "$ref": "#/components/schemas/Party"
          },
          "preferences": {
            "$ref": "#/components/schemas/UserDataPreferences"
          },
          "profile": {
            "$ref": "#/components/schemas/UserDataProfile"
          },
          "stats": {
            "$ref": "#/components/schemas/Stats"
          },
          "inbox": {
            "$ref": "#/components/schemas/Inbox"
          },
          "tasksOrder": {
            "$ref": "#/components/schemas/TasksOrder"
          },
          "_id": {
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          },
          "_ABtest": {
            "type": "string",
            "example": ""
          },
          "loginIncentives": {
            "type": "integer",
            "example": 1538
          },
          "webhooks": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "pushDevices": {
            "$ref": "#/components/schemas/PushDevices"
          },
          "extra": {
            "type": "object"
          },
          "tags": {
            "$ref": "#/components/schemas/UserDataTags"
          },
          "notifications": {
            "$ref": "#/components/schemas/Notifications"
          },
          "guilds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "cf0a9cb8-606e-4bf0-bcad-f9b1715b8819"
            }
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "3cb189ef-3a5d-4177-8bc6-fad7f4c055bf"
            }
          },
          "newMessages": {
            "type": "object"
          },
          "lastCron": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T11:40:25.172Z"
          },
          "balance": {
            "type": "integer",
            "example": 21
          },
          "_v": {
            "type": "integer",
            "example": 15885
          },
          "migration": {
            "type": "string",
            "example": "20264april-fools-2026"
          },
          "pinnedItems": {
            "$ref": "#/components/schemas/PinnedItems"
          },
          "unpinnedItems": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "invitesSent": {
            "type": "integer",
            "example": 4
          },
          "pinnedItemsOrder": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "_subSignature": {
            "type": "string",
            "example": "NOT_RUNNING"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b0413351-405f-416f-8787-947ec1c85199"
          },
          "needsCron": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "auth",
          "achievements",
          "backer",
          "contributor",
          "permissions",
          "purchased",
          "flags",
          "history",
          "items",
          "invitations",
          "party",
          "preferences",
          "profile",
          "stats",
          "inbox",
          "tasksOrder",
          "_id",
          "_ABtest",
          "loginIncentives",
          "webhooks",
          "pushDevices",
          "extra",
          "tags",
          "notifications",
          "guilds",
          "challenges",
          "newMessages",
          "lastCron",
          "balance",
          "_v",
          "migration",
          "pinnedItems",
          "unpinnedItems",
          "invitesSent",
          "pinnedItemsOrder",
          "_subSignature",
          "id",
          "needsCron"
        ]
      },
      "UserDataHistory": {
        "type": "object",
        "properties": {
          "todos": {
            "$ref": "#/components/schemas/ListUserDataHistoryExp"
          },
          "exp": {
            "$ref": "#/components/schemas/ListUserDataHistoryExp"
          }
        },
        "required": [
          "todos",
          "exp"
        ]
      },
      "UserDataInvitations": {
        "type": "object",
        "properties": {
          "party": {
            "type": "object"
          },
          "guilds": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          }
        },
        "required": [
          "party",
          "guilds",
          "parties"
        ]
      },
      "UserDataItems": {
        "type": "object",
        "properties": {
          "gear": {
            "$ref": "#/components/schemas/UserDataItemsGear"
          },
          "special": {
            "$ref": "#/components/schemas/UserDataItemsSpecial"
          },
          "lastDrop": {
            "$ref": "#/components/schemas/UserDataItemsLastDrop"
          },
          "quests": {
            "$ref": "#/components/schemas/UserDataItemsQuests"
          },
          "mounts": {
            "$ref": "#/components/schemas/UserDataItemsMounts"
          },
          "food": {
            "$ref": "#/components/schemas/UserDataItemsFood"
          },
          "hatchingPotions": {
            "$ref": "#/components/schemas/UserDataItemsHatchingPotions"
          },
          "eggs": {
            "$ref": "#/components/schemas/UserDataItemsEggs"
          },
          "pets": {
            "$ref": "#/components/schemas/UserDataItemsPets"
          },
          "currentPet": {
            "type": "string",
            "example": ""
          },
          "currentMount": {
            "type": "string",
            "example": "Dragon-Red"
          }
        },
        "required": [
          "gear",
          "special",
          "lastDrop",
          "quests",
          "mounts",
          "food",
          "hatchingPotions",
          "eggs",
          "pets",
          "currentPet",
          "currentMount"
        ]
      },
      "UserDataItemsEggs": {
        "type": "object",
        "properties": {
          "Wolf": {
            "type": "integer",
            "example": 105
          },
          "Cactus": {
            "type": "integer",
            "example": 135
          },
          "PandaCub": {
            "type": "integer",
            "example": 119
          },
          "Fox": {
            "type": "integer",
            "example": 101
          },
          "BearCub": {
            "type": "integer",
            "example": 109
          },
          "Dragon": {
            "type": "integer",
            "example": 119
          },
          "LionCub": {
            "type": "integer",
            "example": 113
          },
          "FlyingPig": {
            "type": "integer",
            "example": 110
          },
          "TigerCub": {
            "type": "integer",
            "example": 123
          }
        },
        "required": [
          "Wolf",
          "Cactus",
          "PandaCub",
          "Fox",
          "BearCub",
          "Dragon",
          "LionCub",
          "FlyingPig",
          "TigerCub"
        ]
      },
      "UserDataItemsFood": {
        "type": "object",
        "properties": {
          "Potatoe": {
            "type": "integer",
            "example": 94
          },
          "Chocolate": {
            "type": "integer",
            "example": 113
          },
          "CottonCandyPink": {
            "type": "integer",
            "example": 107
          },
          "Meat": {
            "type": "integer",
            "example": 87
          },
          "CottonCandyBlue": {
            "type": "integer",
            "example": 97
          },
          "RottenMeat": {
            "type": "integer",
            "example": 110
          },
          "Cake_Skeleton": {
            "type": "integer",
            "example": 16
          },
          "Cake_Base": {
            "type": "integer",
            "example": 18
          },
          "Cake_CottonCandyBlue": {
            "type": "integer",
            "example": 15
          },
          "Cake_CottonCandyPink": {
            "type": "integer",
            "example": 16
          },
          "Cake_Shade": {
            "type": "integer",
            "example": 15
          },
          "Cake_White": {
            "type": "integer",
            "example": 16
          },
          "Cake_Golden": {
            "type": "integer",
            "example": 16
          },
          "Cake_Zombie": {
            "type": "integer",
            "example": 18
          },
          "Cake_Desert": {
            "type": "integer",
            "example": 15
          },
          "Cake_Red": {
            "type": "integer",
            "example": 17
          },
          "Honey": {
            "type": "integer",
            "example": 126
          },
          "Strawberry": {
            "type": "integer",
            "example": 111
          },
          "Milk": {
            "type": "integer",
            "example": 81
          },
          "Fish": {
            "type": "integer",
            "example": 102
          },
          "Saddle": {
            "type": "integer",
            "example": 8
          },
          "Candy_Skeleton": {
            "type": "integer",
            "example": 10
          },
          "Candy_Base": {
            "type": "integer",
            "example": 9
          },
          "Candy_CottonCandyBlue": {
            "type": "integer",
            "example": 10
          },
          "Candy_CottonCandyPink": {
            "type": "integer",
            "example": 9
          },
          "Candy_Shade": {
            "type": "integer",
            "example": 9
          },
          "Candy_White": {
            "type": "integer",
            "example": 10
          },
          "Candy_Golden": {
            "type": "integer",
            "example": 10
          },
          "Candy_Zombie": {
            "type": "integer",
            "example": 11
          },
          "Candy_Desert": {
            "type": "integer",
            "example": 10
          },
          "Candy_Red": {
            "type": "integer",
            "example": 12
          },
          "Pie_Skeleton": {
            "type": "integer",
            "example": 13
          },
          "Pie_Base": {
            "type": "integer",
            "example": 13
          },
          "Pie_CottonCandyBlue": {
            "type": "integer",
            "example": 14
          },
          "Pie_CottonCandyPink": {
            "type": "integer",
            "example": 13
          },
          "Pie_Shade": {
            "type": "integer",
            "example": 15
          },
          "Pie_White": {
            "type": "integer",
            "example": 14
          },
          "Pie_Golden": {
            "type": "integer",
            "example": 18
          },
          "Pie_Zombie": {
            "type": "integer",
            "example": 12
          },
          "Pie_Desert": {
            "type": "integer",
            "example": 11
          },
          "Pie_Red": {
            "type": "integer",
            "example": 17
          }
        },
        "required": [
          "Potatoe",
          "Chocolate",
          "CottonCandyPink",
          "Meat",
          "CottonCandyBlue",
          "RottenMeat",
          "Cake_Skeleton",
          "Cake_Base",
          "Cake_CottonCandyBlue",
          "Cake_CottonCandyPink",
          "Cake_Shade",
          "Cake_White",
          "Cake_Golden",
          "Cake_Zombie",
          "Cake_Desert",
          "Cake_Red",
          "Honey",
          "Strawberry",
          "Milk",
          "Fish",
          "Saddle",
          "Candy_Skeleton",
          "Candy_Base",
          "Candy_CottonCandyBlue",
          "Candy_CottonCandyPink",
          "Candy_Shade",
          "Candy_White",
          "Candy_Golden",
          "Candy_Zombie",
          "Candy_Desert",
          "Candy_Red",
          "Pie_Skeleton",
          "Pie_Base",
          "Pie_CottonCandyBlue",
          "Pie_CottonCandyPink",
          "Pie_Shade",
          "Pie_White",
          "Pie_Golden",
          "Pie_Zombie",
          "Pie_Desert",
          "Pie_Red"
        ]
      },
      "UserDataItemsGear": {
        "type": "object",
        "properties": {
          "equipped": {
            "$ref": "#/components/schemas/UserDataItemsGearEquipped"
          },
          "costume": {
            "$ref": "#/components/schemas/UserDataItemsGearCostume"
          },
          "owned": {
            "$ref": "#/components/schemas/UserDataItemsGearOwned"
          }
        },
        "required": [
          "equipped",
          "costume",
          "owned"
        ]
      },
      "UserDataItemsGearCostume": {
        "type": "object",
        "properties": {
          "shield": {
            "type": "string",
            "example": "shield_base_0"
          },
          "head": {
            "type": "string",
            "example": "head_base_0"
          },
          "armor": {
            "type": "string",
            "example": "armor_base_0"
          }
        },
        "required": [
          "shield",
          "head",
          "armor"
        ]
      },
      "UserDataItemsGearEquipped": {
        "type": "object",
        "properties": {
          "weapon": {
            "type": "string",
            "example": "weapon_special_2"
          },
          "armor": {
            "type": "string",
            "example": "armor_special_nomadsCuirass"
          },
          "head": {
            "type": "string",
            "example": "head_warrior_5"
          },
          "shield": {
            "type": "string",
            "example": "shield_special_wakizashi"
          },
          "back": {
            "type": "string",
            "example": "back_special_namingDay2020"
          },
          "eyewear": {
            "type": "string",
            "example": "eyewear_base_0"
          },
          "body": {
            "type": "string",
            "example": "body_special_namingDay2018"
          }
        },
        "required": [
          "weapon",
          "armor",
          "head",
          "shield",
          "back",
          "eyewear",
          "body"
        ]
      },
      "UserDataItemsGearOwned": {
        "type": "object",
        "properties": {
          "eyewear_special_yellowTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_whiteTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_redTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_pinkTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_greenTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_blueTopFrame": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_blackTopFrame": {
            "type": "boolean",
            "example": true
          },
          "armor_special_bardRobes": {
            "type": "boolean",
            "example": true
          },
          "head_special_bardHat": {
            "type": "boolean",
            "example": true
          },
          "head_warrior_1": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_0": {
            "type": "boolean",
            "example": true
          },
          "shield_warrior_1": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_1": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_2": {
            "type": "boolean",
            "example": true
          },
          "head_warrior_2": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_bardInstrument": {
            "type": "boolean",
            "example": true
          },
          "armor_warrior_1": {
            "type": "boolean",
            "example": true
          },
          "shield_warrior_2": {
            "type": "boolean",
            "example": true
          },
          "armor_warrior_2": {
            "type": "boolean",
            "example": true
          },
          "head_warrior_3": {
            "type": "boolean",
            "example": true
          },
          "head_special_lunarWarriorHelm": {
            "type": "boolean",
            "example": true
          },
          "shield_special_spring2017Warrior": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_3": {
            "type": "boolean",
            "example": true
          },
          "armor_special_pageArmor": {
            "type": "boolean",
            "example": true
          },
          "head_special_pageHelm": {
            "type": "boolean",
            "example": true
          },
          "armor_warrior_3": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_pageBanner": {
            "type": "boolean",
            "example": true
          },
          "shield_special_diamondStave": {
            "type": "boolean",
            "example": true
          },
          "armor_special_lunarWarriorArmor": {
            "type": "boolean",
            "example": true
          },
          "weapon_armoire_basicLongbow": {
            "type": "boolean",
            "example": true
          },
          "armor_warrior_4": {
            "type": "boolean",
            "example": true
          },
          "shield_warrior_3": {
            "type": "boolean",
            "example": true
          },
          "shield_special_lootBag": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_skeletonKey": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye": {
            "type": "boolean",
            "example": true
          },
          "armor_special_sneakthiefRobes": {
            "type": "boolean",
            "example": true
          },
          "head_special_clandestineCowl": {
            "type": "boolean",
            "example": true
          },
          "shield_special_winter2018Warrior": {
            "type": "boolean",
            "example": true
          },
          "armor_special_snowSovereignRobes": {
            "type": "boolean",
            "example": true
          },
          "head_special_snowSovereignCrown": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2015": {
            "type": "boolean",
            "example": true
          },
          "back_special_snowdriftVeil": {
            "type": "boolean",
            "example": true
          },
          "shield_special_wintryMirror": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_blackHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_blueHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_greenHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_pinkHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_redHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_whiteHeadband": {
            "type": "boolean",
            "example": true
          },
          "headAccessory_special_yellowHeadband": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_4": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_5": {
            "type": "boolean",
            "example": true
          },
          "head_warrior_4": {
            "type": "boolean",
            "example": true
          },
          "armor_warrior_5": {
            "type": "boolean",
            "example": true
          },
          "shield_warrior_4": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_lunarScythe": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2014": {
            "type": "boolean",
            "example": true
          },
          "armor_special_nomadsCuirass": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_nomadsScimitar": {
            "type": "boolean",
            "example": true
          },
          "head_armoire_bigWig": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2016": {
            "type": "boolean",
            "example": true
          },
          "head_special_spikedHelm": {
            "type": "boolean",
            "example": true
          },
          "head_special_piDay": {
            "type": "boolean",
            "example": true
          },
          "shield_special_piDay": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_blackHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_blueHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_greenHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_pinkHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_redHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_whiteHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "eyewear_special_yellowHalfMoon": {
            "type": "boolean",
            "example": true
          },
          "head_special_namingDay2017": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2015": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2017": {
            "type": "boolean",
            "example": true
          },
          "body_special_namingDay2018": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2016": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2018": {
            "type": "boolean",
            "example": true
          },
          "back_special_namingDay2020": {
            "type": "boolean",
            "example": true
          },
          "head_special_dandyHat": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_fencingFoil": {
            "type": "boolean",
            "example": true
          },
          "armor_special_dandySuit": {
            "type": "boolean",
            "example": true
          },
          "shield_warrior_5": {
            "type": "boolean",
            "example": true
          },
          "head_warrior_5": {
            "type": "boolean",
            "example": true
          },
          "weapon_warrior_6": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_fall2021Warrior": {
            "type": "boolean",
            "example": true
          },
          "armor_special_turkeyArmorBase": {
            "type": "boolean",
            "example": true
          },
          "back_special_turkeyTailBase": {
            "type": "boolean",
            "example": true
          },
          "head_special_turkeyHelmBase": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2017": {
            "type": "boolean",
            "example": true
          },
          "weapon_armoire_jesterBaton": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_tachi": {
            "type": "boolean",
            "example": true
          },
          "armor_special_samuraiArmor": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_winter2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_winter2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "shield_special_winter2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2019": {
            "type": "boolean",
            "example": true
          },
          "head_special_kabuto": {
            "type": "boolean",
            "example": true
          },
          "shield_special_wakizashi": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_2": {
            "type": "boolean",
            "example": true
          },
          "weapon_armoire_potionBase": {
            "type": "boolean",
            "example": true
          },
          "weapon_armoire_potionSkeleton": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_spring2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_spring2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_fall2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_fall2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "armor_special_fall2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "shield_special_fall2022Warrior": {
            "type": "boolean",
            "example": true
          },
          "armor_special_turkeyArmorGilded": {
            "type": "boolean",
            "example": true
          },
          "back_special_turkeyTailGilded": {
            "type": "boolean",
            "example": true
          },
          "head_special_turkeyHelmGilded": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2018": {
            "type": "boolean",
            "example": true
          },
          "armor_special_summer2023Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_summer2023Warrior": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_summer2023Warrior": {
            "type": "boolean",
            "example": true
          },
          "shield_special_summer2023Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2019": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2020": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2020": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2021": {
            "type": "boolean",
            "example": true
          },
          "armor_special_spring2025Warrior": {
            "type": "boolean",
            "example": true
          },
          "weapon_special_spring2025Warrior": {
            "type": "boolean",
            "example": true
          },
          "head_special_spring2025Warrior": {
            "type": "boolean",
            "example": true
          },
          "shield_special_spring2025Warrior": {
            "type": "boolean",
            "example": true
          },
          "shield_armoire_baseballGlove": {
            "type": "boolean",
            "example": true
          },
          "head_special_nye2021": {
            "type": "boolean",
            "example": true
          },
          "armor_special_birthday2022": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "eyewear_special_yellowTopFrame",
          "eyewear_special_whiteTopFrame",
          "eyewear_special_redTopFrame",
          "eyewear_special_pinkTopFrame",
          "eyewear_special_greenTopFrame",
          "eyewear_special_blueTopFrame",
          "eyewear_special_blackTopFrame",
          "armor_special_bardRobes",
          "head_special_bardHat",
          "head_warrior_1",
          "weapon_warrior_0",
          "shield_warrior_1",
          "weapon_warrior_1",
          "armor_special_birthday",
          "weapon_warrior_2",
          "head_warrior_2",
          "weapon_special_bardInstrument",
          "armor_warrior_1",
          "shield_warrior_2",
          "armor_warrior_2",
          "head_warrior_3",
          "head_special_lunarWarriorHelm",
          "shield_special_spring2017Warrior",
          "weapon_warrior_3",
          "armor_special_pageArmor",
          "head_special_pageHelm",
          "armor_warrior_3",
          "weapon_special_pageBanner",
          "shield_special_diamondStave",
          "armor_special_lunarWarriorArmor",
          "weapon_armoire_basicLongbow",
          "armor_warrior_4",
          "shield_warrior_3",
          "shield_special_lootBag",
          "weapon_special_skeletonKey",
          "head_special_nye",
          "armor_special_sneakthiefRobes",
          "head_special_clandestineCowl",
          "shield_special_winter2018Warrior",
          "armor_special_snowSovereignRobes",
          "head_special_snowSovereignCrown",
          "armor_special_birthday2015",
          "back_special_snowdriftVeil",
          "shield_special_wintryMirror",
          "headAccessory_special_blackHeadband",
          "headAccessory_special_blueHeadband",
          "headAccessory_special_greenHeadband",
          "headAccessory_special_pinkHeadband",
          "headAccessory_special_redHeadband",
          "headAccessory_special_whiteHeadband",
          "headAccessory_special_yellowHeadband",
          "weapon_warrior_4",
          "weapon_warrior_5",
          "head_warrior_4",
          "armor_warrior_5",
          "shield_warrior_4",
          "weapon_special_lunarScythe",
          "head_special_nye2014",
          "armor_special_nomadsCuirass",
          "weapon_special_nomadsScimitar",
          "head_armoire_bigWig",
          "armor_special_birthday2016",
          "head_special_spikedHelm",
          "head_special_piDay",
          "shield_special_piDay",
          "eyewear_special_blackHalfMoon",
          "eyewear_special_blueHalfMoon",
          "eyewear_special_greenHalfMoon",
          "eyewear_special_pinkHalfMoon",
          "eyewear_special_redHalfMoon",
          "eyewear_special_whiteHalfMoon",
          "eyewear_special_yellowHalfMoon",
          "head_special_namingDay2017",
          "head_special_nye2015",
          "armor_special_birthday2017",
          "body_special_namingDay2018",
          "head_special_nye2016",
          "armor_special_birthday2018",
          "back_special_namingDay2020",
          "head_special_dandyHat",
          "weapon_special_fencingFoil",
          "armor_special_dandySuit",
          "shield_warrior_5",
          "head_warrior_5",
          "weapon_warrior_6",
          "weapon_special_fall2021Warrior",
          "armor_special_turkeyArmorBase",
[...]
